
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: darkblue;
    font-size: 32px;
    text-align: center;
    margin-top: 60px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 20%;
}


.CaseStudy {
    padding-bottom: 80px;
}


.case-img {
    display: block;
    width: 70%;
    max-width: 700px;
    height: auto;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 4px;
}


@media screen and (max-width: 600px) {

    p {
        margin: 15px 8%;
        font-size: 16px;
    }

    h1 {
        font-size: 26px;
    }

    .case-img {
        width: 90%;
        max-width: none;
        margin: 25px auto;
    }
}
