h1 {
    color: darkblue;
    font-size: 30px;
}

h2 {
    color: darkblue;
    font-size: 20px;
}

img {
    height: 100px;
    width: 150px;
}

li {
    font-size: 18px;
}

body {
    margin: 0;
    height: 100vh;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

.Info {
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    padding-bottom: 30px;
}


.center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
    padding: 10px;
    row-gap: 100px;
    box-sizing: border-box;
}

  .button-container {
    background-color: white;
    padding: 0.4rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: inline-block;
    /* border-radius: 0.4rem; */
  }

.webtms-button {
  display: inline-block;
  background-color: #052b52;
  color: white;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  padding: 0.85rem 0.95rem;
  border: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, text-decoration-color 0.2s ease;
}

.webtms-button:hover {
  background-color: #0a4a8a; /* lighter blue */
  text-decoration: underline;
}

.search-button {
  display: inline-block;
  background-color: #052b52;
  color: white;
  font-weight: none;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  padding: 0.25rem 0.35rem;
  border: none;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease, text-decoration-color 0.2s ease;
}

.search-button:hover {
  background-color: #0a4a8a;
  text-decoration: underline;
}

input[type="text"] {
  width: 100%;
  padding: 0.15rem 0.15rem;
  border: 2px solid #ccc; 
  border-radius: 0;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none; 
  transition: border-color 0.2s ease;
}

input[type="text"]:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

input[type="text"]:focus {
  border-color: #888; 
}




  .betabuildbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .searchandtextfield {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
  }

  .BetaImages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ImageHeaders {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .SearchImages {
    width: 400px;
    height: 200px;
  }

  .objectHeader {
    font-weight: 900;
  }

@media screen and (min-width: 1024px) {
    h1 {
        color: darkblue;
        font-size: 30px;
    }

    img {
        height: 125px;
        width: 475px;
    }

    li {
        font-size: 18px;
    }

    body {
        margin: 0;
        height: 100vh;
    }

    a {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        justify-content: center;
        padding-bottom: 10px;
        font-size: 30px;
    }

    .Info {
        display: flex;
        flex-direction: column;
        padding-left: 400px;
        padding-bottom: 30px;
    }


    .center {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-bottom: 100px;
        padding: 10px;
        row-gap: 100px;
        box-sizing: border-box;
    }

}


@media screen and (max-width: 600px) {

    body {
        font-size: 18px;
    }

    h1 {
        font-size: 30px;
    }

    img {
        width: 250px;
        height: 200px;
    }

    li {
        font-size: 16px;
    }

    .Info {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-bottom: 30px;
    }

    a {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 50px;
        padding-bottom: 10px;
        font-size: 30px;
    }

}