main#wrapper {
	width: auto;
	margin: 0 auto;
}
header#top section#header {
	height: auto;
	position: relative;
	overflow: hidden;
}
header#top section#header img {
	max-width: 500px;
}
nav#navigation {
	margin: 0;
	padding: 5px;
	height: auto;
	width: auto;
	background: #0a3365;
}
nav#navigation ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav#navigation ul li {
	display: block;
}
nav#navigation ul li em {
	display: block;
}
nav#navigation a {
	margin: 0px 18px 10px 0;
	color: #b8c0cc;
	text-decoration: none;
}
nav#navigation a:hover {
	color: #fff;
}
section#content_wrapper {
	width: auto;
	background: none;
	position: static;
}
article#content {
	padding: 10px;
}
section#content_left {
	padding: 0;
}
section#column_1 {
	margin: 0;
	width: auto;
	float: none;
}
aside#column_2 {
	width: auto;
	margin: 0;
	float: none;
}
footer#footer {
	width: auto;
	background: none;
	height: auto;
	color: #666;
	margin: 0;
}
footer#footer .left {
	float: none;
	margin: 10px 0;
	width: auto;
}
footer#footer .right {
	float: none;
	margin: 0;
	width: auto;
	text-align: left;
}

/*Home Page*/
.index-left {
	width: auto;
	float: none;
}
.index-right {
	width: auto;
	float: none;
}
